#monster {
    width: 64px;
    height: 64px;
    cursor: pointer;
    background: url('Images/chomp_idle.png') no-repeat;
    background-size: 256px 192px;
    transition: transform 0.1s ease;
    display: block;
    margin: auto;
    animation: monster-idle 0.8s steps(4) infinite;
}

@keyframes monster-idle {
    from {
        background-position: 0px 0px;
    } to {
        background-position: -256px 0px;
    }
}

#monster:active {
    transform: scale(0.9);
}

#StageInfo {
    text-align: center;
    margin-bottom: 0px;
}

#monsterHPInfo {
    text-align: center;
}

#monsterHP {
    appearance: none;
    width: 100px;
    height: 15px;
    margin-top: 5px;
}

#monsterHP::-webkit-progress-value {
    background-color: red;
}

#monsterHP::-webkit-progress-bar {
    background-color: gray;
}