@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');


body {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#monster {
    width: 64px;
    height: 64px;
    cursor: pointer;
    background: url('Images/chomp_idle.png') no-repeat;
    background-size: 256px 192px;
    transition: transform 0.1s ease;
    display: block;
    margin: auto;
    animation: monster-idle 0.8s steps(4) infinite;
}

@keyframes monster-idle {
    from {
        background-position: 0px 0px;
    } to {
        background-position: -256px 0px;
    }
}

#monster:active {
    transform: scale(0.9);
}

#StageInfo {
    text-align: center;
    margin-bottom: 0px;
}

#monsterHPInfo {
    border-radius: 20px;
}

#hpBar {
    width: 100px;
    height: 10px;
    background-color: gray;
    margin: auto;
    margin-top: 10px;
    overflow: hidden;
    border-radius: 10px;
}

#hpFill {
    width: 100%;
    height: 100%;
    background-color: red;
}

.gameButton {
    width: 165px;
    height: 60px;

    background: url('images/YellowMedium.png');
    background-size: 100% 100%;

    border: none;
    cursor: pointer;

    transition: transform 0.1s ease;
}   

.gameButton:active {
    transform: scale(0.9);
}

.costText {
    margin-left: 25px;
    margin-top: 0;
}

#bossHP {
    margin: auto;
    margin-bottom: 0px;
    text-align: center;
}